{% if media|length > 0 %}
<ul class="instagram-media">
  {% for item in media %}
    <li class="instagram-media__item">
      <a href="{{ item.permalink }}" target="_blank" class="instagram-media__link"><img class="instagram-media__image" src="{{ item.media_url }}" alt="{{ item.caption }}" /></a>
      {% if show_likes_count %}
        <div class="instagram-media__like-count">
          {%- trans -%}
            {{ item.like_count }} like
          {%- plural item.like_count -%}
            {{ item.like_count }} likes
          {%- endtrans %}
        </div>
      {% endif %}
      {% if show_date %}
        <div class="instagram-media__timestamp">{{ item.timestamp|date }}</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
